<div id = "box">
    <div id = "container" >

        <br/><br/>
        <label for = "username">Choose Username</label><br/>
        <input  class = "center" id ="username" type = "text" />
        <br/><br/>

        <label for = "password">Choose Password</label><br/>
        <input class = "center" id ="password" type = "password"/>
        <br/><br/>

        <label for = "otherpassword">Confirm Password</label><br/>
        <input class = "center" id ="otherpassword" type = "password"/>
        <br/><br/>

        <label for = "submitAccountInfo"></label>
        <input class = "center" id ="submitAccountInfo" type = "submit" value="Create Account" (click) = "validateFields()" />
        <br/><br/>

    </div>
</div>