
<div id = "box">
    <div id = "container" >
        <label for = "username">Username</label>
        <input  id ="username" type = "text" />

        <label for = "password">Password</label>
        <input id ="password" type = "password" />

        <label for = "submitAccountInfo"></label>
        <input id ="submitAccountInfo" type = "submit" value="Login" (click) = "verifyAccount()" />

        <br/><br/>

        <label for = "noAccount"></label>
        <input id = "noAccount" type = "submit" value="Create an Account" (click) = "createAccount()"/>

    </div>
</div>
