
<div id = "container">

    <label for = "recipeName">Name of Recipe</label>
    <input id = "recipeName" type = "text" />
    <br/><br/>

    <label for = "foodType">Type of Food</label>
    <input id = "foodType" type = "text" />
    <br/><br/>
    <!-- For loop to create number of reicpe ingredients required-->
    
    <label for = "recipeInstructions">Recipe Instructions</label>
    <input id = "recipeInstructions" type = "text" />
    <br/><br/>

    <label for = "recipeSubmit">Enter</label>
    <input id = "recipeSubmit" type = "submit" />
    <br/><br/>


</div>
